.container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* max-width: 320px; */
    gap: 20px;
    margin: auto 1rem;
    text-align: center;
    font-family: arial;
    justify-content: space-between; 
}

.product__details > img{
    width: 100%;
    height: 16em;
    object-fit: cover;

}

.title{
    padding: 10px;
    font-size: larger;
    font-weight: 600;
    margin-left: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}

.product__details {
    margin-bottom: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 2px;
    font-family: arial;
  }

  .container button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }

  /* .filter{
    margin-top: -2px;
    margin-left: 15px;
  } */

  .main{
    width: 100%;
  }

  .filter {
    display: flex;
    /* flex-direction: column; */
    align-items: flex-start;
    margin-left: 15px;
    margin-top: -2px;
  }

  .input-group {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .input-field {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }
  
  .apply-button {
    border: none;
    outline: none;
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }